<li>
  <div class="post-date">
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time> · {{ .ReadingTime }} min read
  </div>
  <div>
    <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">
      {{ .Title }}
    </a>
    {{ if .Description }} {{ .Description }} {{ else }} {{ .Summary }} {{ end }}
    {{ if .Truncated }}
    <div class="read-more-link">
      <a href="{{ .RelPermalink }}">Read More</a>
    </div>
    {{ end }}
  </div>
  <br/>
</li>
